<!-- display a given comment -->
<article>
    <!-- commenter info -->
    <div>
        <p>commented by {{user.username}} on {{created_at}}</p>
    </div>
    <div>
        <p>{{text}}</p>
    </div>
</article>