<section class="row d-flex flex-column m-2">
    <h2 class="col-12">Write your post:</h2>

    <!-- post submission form -->
    <form class="col-12" id="post-form">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input class="form-control text-left" type="text" id="post-title" name="post-title" />
            
            <label for="post-text">Body</label>
            <textarea class="form-control text-left" id="post-text" name="post-text"></textarea>
        </div>
        
        <div>
            <button class="btn btn-success" type="submit">Create New Post</button>
        </div>
    </form>
</section>

<!-- load scripts -->
<script src="/javascript/add-post.js"></script>