<!-- dashboard layout -->
<section>
    <button class="btn btn-secondary ml-2 mb-3" id="create-post">Create New Post</button>
</section>

<!-- display users own posts -->
{{#if posts.length}}
<section>
    <h2 class="font-italic m-2">Your Previous Posts</h2>

    <div class="row d-flex flex-column">
        {{#each posts as |post|}}
        <div class="col-12 m-4">
            {{> dash-post post}}
            <a class="btn btn-warning mt-2" href="/dash/edit/{{post.id}}">EDIT POST</a>
        </div>
        {{/each}}
    </div>
</section>
{{/if}}

<!-- load scripts -->
<script src="/javascript/dash.js"></script>