<!-- display section allowing to delete/edit -->
<section>
    <div>
        <h2><button class="btn btn-secondary ml-2 mb-2" id="edit-button">UPDATE POST</button></h2>
    </div>
    <div>
        <h2><button class="btn btn-danger ml-2 mb-2" id="delete-button">DELETE POST</button></h2>
    </div>
</section>

<!-- display actual post, with comments -->
<article>
    <!-- editable post title -->
    <div class="row d-flex flex-column m-2">
        <input class="col-md-6 col-12 form-control text-left" id="edit-title" name="edit-title" value="{{post.title}}" />
    <!-- editable post text -->
        <textarea class="col-md-6 col-12 form-control text-left" id="edit-text" name="edit-text">{{post.text}}</textarea>
    </div>
    
    <div class="row p-2 d-flex flex-column">
        <p class="m-4">{{post.comments.length}} comments</p>
        <div class="col-12">
        {{#each post.comments as |comment|}}
            {{> comment comment}}
        {{/each}}
        </div>
    </div>
</article>

<!-- load scripts -->
<script src="/javascript/edit-post.js"></script>