<!-- list of blog posts -->
<div class="row d-flex flex-column">
    {{#each posts as |post|}} <!-- loop over each post -->
    <div class="col-12 m-4">
        {{> home-post post}} <!-- use post partial -->
    </div>
    {{/each}}
</div>