<!-- login form -->
<form id="login">
    <h1>LOGIN TO AN EXISTING ACCOUNT</h1>
    <div>
        <label for="username-login">user:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">pass:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<!-- signup form -->
<form id="signup">
    <h1>SIGN UP FOR AN ACCOUNT</h1>
    <div>
        <label for="username-signup">user:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">pass:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">sign up</button>
    </div>
</form>

<!-- load our js scripts -->
<script src="/javascript/login-page.js"></script>