<article class="d-flex flex-column">
    <div class="row d-flex flex-column">
        <div class="col-12 m-4">
            {{> single-post post}}
        </div>
    </div>

    <!-- comment count -->
    <div class="m-4">
        <p class="font-italic text-dark">{{post.comments.length}} {{formatPlural "comment" post.comments.length}}</p>
    
        <!-- add comment -->
        {{#if loggedIn}}
        <div>
            <h4>add a comment</h4>
            <div class="row d-flex flex-column">
                <textarea class="col-md-6 col-12 form-control text-left" id="comment-box" name="comment-box"></textarea>
                <button class="col-md-6 col-12 btn btn-secondary" id="comment-button">submit</button>
            </div>
        </div>
        {{else}}
        <div>
            <h4 class="text-danger">
                Please log in to add comments!
            </h4>
        </div>
        {{/if}}
    </div>
    
    <!-- comments -->
    <div class="row p-2 d-flex flex-column">
        <div class="col-12">
            {{#each post.comments as |comment|}}
            {{> comment comment}}
            {{/each}}
        </div>
    </div>
</article>

<!-- load scripts -->
<script src="/javascript/add-comment.js"></script>